In [60]:
import pandas as pd

TODO: davidtan [2017-08-25]
- reduce size of images on VM
- rename files to sequential numbers
- create folders and sort files into folders
  - data/
    - test/
      - \*.jpg
    - train/
      - class_1
      - class_2
      - ...
      - class_n
    - valid/
      - class_1
      - class_2
      - ...
      - class_n
    - train_labels.csv
    
- zip file
- move a random subset of files from each class in ./data/train/class\* to ./data/valid/class/*

### Useful bash commands

#### Rename: files as increasing integers
find -name '*.jpg' | gawk 'BEGIN{ a=1 }{ printf "mv %s %03d.jpg\n", $0, a++ }' | bash

In [52]:
# rename files to sequential numbers
import os

FList = os.listdir(os.getcwd())
FListC = FList[1:]

# m = 0
# for i in FListC:
#     fileExtension = os.path.splitext(i)[1]
#     os.rename(i,str(m)+fileExtension)
#     m = m+1

In [55]:
FList

['.DS_Store',
 '.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'beer-bottles-counter.ipynb',
 'data',
 'data-preprocessing.ipynb',
 'utils.py',
 'utils.pyc',
 'vgg16.py',
 'vgg16.pyc',
 'vgg16bn.py',
 'vgg16bn.pyc']

In [59]:
# rename files to consecutive numbers 
import os, re

i = 0
for current_name in os.listdir('./data/train'):
    os.rename("{}{}".format("./data/train/", current_name), "{}{}{}".format("./data/train/", i, ".jpg"))
    i = i + 1

In [69]:
# Load labels
df = pd.read_csv('./data/train_labels.csv')
df.head()

   name count
0     0    12
1     1    12
2     2    12
3     3    12
4     4    12

In [1]:
# Move files to respective count folders
# TODO: fix bug for moving imgaes with label '0' to '0' folder
import os
import shutil
import csv

dir_src = './data/train/'

with open('./data/train_labels.csv', 'r') as f:
    reader = csv.reader(f, delimiter = ',')
    next(reader, None)  # skip the headers
    
    for rowDict in reader:
        filename, label = rowDict
        src_file = os.path.join(dir_src, "{}{}".format(filename, '.jpg'))
        if os.path.exists(src_file):
            destination = "{}{}".format("./data/train/", label)
            shutil.move(src_file, destination)